<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bupjae.android.cindemasutility">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IdolSelectActivity"
            android:label="@string/title_idol_select">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IdolProfileActivity"
            android:label="@string/title_idol_profile" />
        <activity
            android:name=".EasterEggYayoiActivity"
            android:label="@string/title_easter_egg_yayoi" />

        <provider
            android:name=".CardProvider"
            android:authorities="bupjae.android.cindemasutility.card"
            android:exported="false" />
        <provider
            android:name=".ImageProvider"
            android:authorities="bupjae.android.cindemasutility.image"
            android:exported="false"
            android:grantUriPermissions="true" />


    </application>

</manifest>
